.card {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  /* box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5); */
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}

img {
  width: 200px;
  border-radius: 50%;
}
